Package: ubuntucinnamon-standard
Source: ubuntucinnamon-meta
Version: 0.1.5
Architecture: amd64
Maintainer: Joshua Peisach <ubuntucinnamonremix7@gmail.com>
Installed-Size: 10
Depends: busybox-static, cinnamon-core, cpio, cron, dmidecode, dnsutils, dosfstools, ed, file, friendly-recovery, ftp, hdparm, hfsutils, info, iptables, iputils-tracepath, language-selector-common, libpam-systemd, logrotate, lshw, lsof, ltrace, man-db, mime-support, mtr-tiny, nano, parted, pciutils, psmisc, rsync, strace, tcpdump, time, usbutils, wget
Recommends: apparmor, apt, apt-utils, bash-completion, btrfs-tools, command-not-found, cryptsetup, irqbalance, jfsutils, lvm2, manpages, mlocate, ntfs-3g, openssh-client, plymouth, plymouth-theme-ubuntu-text, popularity-contest, telnet, ufw, update-manager-core, ureadahead, uuid-runtime
Section: metapackages
Priority: optional
Homepage: https://github.com/Ubuntu-Cinnamon-Remix/
Description: CLI-only components of Ubuntu Cinnamon
 This metapackage depends on most of non-GUI packages from Ubuntu Cinnamon.
 .
 This set of packages provides a comfortable command-line Unix-like
 environment.
 .
 It is used to ensure proper upgrades, so it is recommended that it not be
 removed.
